<%= form_for(@kintai) do |f| %>
  <% if @kintai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kintai.errors.count, "error") %> prohibited this kintai from being saved:</h2>

      <ul>
      <% @kintai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :f_kintai %><br>
    <%= f.check_box :f_kintai %>
  </div>
  <div class="field">
    <%= f.label :t_kintai %><br>
    <%= f.datetime_select :t_kintai %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
