<%= form_for(@kintai,:html => { :class => "" } ) do |f| %>
  <% if @kintai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kintai.errors.count, "error") %> prohibited this kintai from being saved:</h2>

      <ul>
      <% @kintai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.number_field :user_id,:value => current_user.id,:class => "hidden" %>


  <div>
    <%= f.submit '出勤',:class => "btn btn-warning" %>
  </div>


<% end %>
