<%= form_for(@kintai ,:url => taikin_update_kintai_path(@kintai.id),:html => { :class => "" } ) do |f| %>
  <% if @kintai.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kintai.errors.count, "error") %> prohibited this kintai from being saved:</h2>

      <ul>
      <% @kintai.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.number_field :user_id,:value => current_user.id,:class => "hidden" %>

  <div>
    <%= f.submit '退勤',:disable_with => "処理中…",:class => "btn btn-primary" %>
  </div>
  
<% end %>
