<h1><%= current_user.name %>さん。<br>シベリア抑留へようこそ</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>T kintai</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @kintais.each do |kintai| %>
      <tr>
        <td><%= kintai.user_id %></td>
        <td><%= kintai.t_kintai %></td>
        <td><%= link_to '修正', edit_kintai_path(kintai) %></td>
        <td><%= link_to '削除', kintai, method: :delete, data: { confirm: '出勤と退勤のレコードがセットで削除されます。本来間違いがある場合は削除では無く修正するべきですが、修正では対応できない万が一の状態に備えて用意した機能になります。本当に削除してよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'kintai_form' %>

<%= button_to '脱獄 (ログアウト)', destroy_user_session_path, :method => :delete, :class => "btn btn-success" %>
