<p>
  <strong>User:</strong>
  <%= @kintai.user_id %>
</p>

<p>
  <strong>T kintai:</strong>
  <%= @kintai.t_syukkin %>
  <%= @kintai.t_taikin %>
</p>

<%= link_to 'Edit', edit_kintai_path(@kintai) %> 
<%= link_to 'Back', kintais_path %>
