<!DOCTYPE html>
<html>
<head>
  <title>勤怠管理</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container" style="margin-top:45px;">
  <div class="row">
    <% if notice %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <% alert_msgs = alert.split(",") %>
        <% alert_msgs.each_with_index do |msg,cnt| %>
          <% if cnt > 1 %>
            <%= (cnt - 1).to_s + ". " + msg %><br>
          <% else %>
            <%= msg %><br>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

    <%= render partial: "footer" %>
  </div>
</div>

</body>
</html>
